<form class="{{cssClass}} limited" autocomplete="off">

  <span id="header-personal-details">Personal Details</span>

  <header class="sheet-header" ondragstart="return false;" ondrop="return false;">
    <h1 class="charname item">
      <input class="input name" style="box-shadow: none !important;" name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'Character Name'}}" />
      <span class="label name">{{localize "Name"}}</span>
    </h1>
  </header>

  <section class="general" ondragstart="return false;" ondrop="return false;">
    <img class="charimg" src="{{actor.img}}" title="{{actor.name}}" height="95" width="95" data-edit="img">
    <div class="items">
      <div class="characteristics">
        <div class="characteristics-table" cellpadding="0">
          <div class="table-header table-row">
            {{#each actor.data.attributes as |at a|}}
            <div title="{{at.label}}" class="table-header">
              <div class="header-block">{{a}}</div>
            </div>      
            {{/each}}
          </div>
          <div class="table-row">
            {{#each actor.data.attributes as |at a|}}
            <div class="table-data">
              <input readonly="readonly" data-attribute="{{a}}" name="actor.data.attributes.{{a}}.value" type="text" value="{{at.value}}" data-dtype="Number">
            </div>
            <div class="table-data attribute-luck">
              {{#if at.luck}}
              <a disabled="disabled" class="attribute-toggle"><i class="far fa-check-circle"></i></a>
              {{else}}
              <a disabled="disabled" class="attribute-toggle"><i class="far fa-circle"></i></a>
              {{/if}}
            </div>
            {{/each}}      
          </div>
        </div>
      </div>
      </div>
  </section>

    
  <section id="tab-sections">
      <nav id="wfrp3-primarytabs" class="sheet-tabs tabs" data-group="primary" ondragstart="return false;" ondrop="return false;">
        <a class="item active" data-tab="notes">{{localize "Notes"}}</a>
      </nav>
      <section class="content">
      <div class="tab notes save-scroll" data-tab="notes">
        <div class="limited-note-section biography">
          {{editor content=data.details.biography.value target="data.details.biography.value" button=true owner=owner editable=editable}}
        </div>
      </div>
    </section>
  </section>
  
</form>

<script>
  textContainer = document.querySelectorAll('.npc-sheet .window-title');
  length = textContainer.length;
  
  for (i = 0; i < length; i++) {

    if (textContainer[i].innerHTML.includes("[Token]")) {
      new_red = document.getElementsByClassName("npc-sheet")[i].id;
      if ( !document.getElementById(new_red).className.includes("token-actor") ) {
        document.getElementById(new_red).className += " token-actor";
      }
      else {
      }
    } 
    else {
    }
  }

  // 
</script>